<table style="width:100%">
  <tr>
    <th align="center">Item Name</th>
    <th align="center">Items ShortName</th>
    <th align="center">Items Description</th>
    <th align="center">Remove</th> 
  </tr>
  <tr ng-repeat="item in foundItems">
  	<td align="center">{{item.name}}</td>
  	<td align="center">{{item.short_name}}</td>
  	<td align="center">{{item.description}}</td>
  	<td align="center"><button ng-click="onRemove({index: $index});">Don't want this one!</button></td>
  </tr>
</table>
<div ng-if="foundItems.length == 0">Nothing found</div>