<div class="container">
  <div class="col-md-6">
    <fieldset>
      <legend>Newsletter Registration</legend>
      <form name="regForm" novalidate>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" value="firstName" ng-model="signupCtrl.user.firstName" class="form-control" required >
        <span ng-if="regForm.firstName.$error.required && regForm.firstName.$touched">First Name is required</span>
        <br>

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" value="lastName" ng-model="signupCtrl.user.lastName" class="form-control" required>
        <span ng-if="regForm.lastName.$error.required && regForm.lastName.$touched">Last Name is required</span>
        <br>

        <label for="email">Email</label>
        <input type="email" name="email" value="email" ng-model="signupCtrl.user.email" class="form-control" required>
        <span ng-if="regForm.email.$invalid && regForm.email.$touched">Must be a valid email address: handle@domain format</span>
        <br>

        <label for="phone">Phone</label>
        <input type="text" name="phone" placeholder="###-###-####" ng-model="signupCtrl.user.phone" pattern="(\d{3})-(\d{3})-(\d{4})" class="form-control" required>
        <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">Phone must be in the format ###-###-####.</span>
        <br>

        <label for="favMenuNum">Favorite Menu Number</label>
        <input type="text" name="favMenuNum" value="favMenuNum" ng-model="signupCtrl.user.favMenuNum" class="form-control" required>
        <span ng-if="signupCtrl.menuItemNotFound">No such menu number exists</span>
        <br>

        <button class="btn btn-default" type="button" name="submitBtn" ng-click="signupCtrl.submit()" ng-disabled="regForm.$invalid">Submit</button>
      </form>
    </fieldset>

    <div ng-if="signupCtrl.savedMsg.length > 0">{{ signupCtrl.savedMsg }}</div>
  </div>
 </div>
